{{ define "main" }}
<content>
  <h1>Writing</h1>

  {{ $pinned := where .Pages "Params.pinned" true }}
  {{ $regular := where .Pages "Params.pinned" "!=" true }}

  <ul class="blog-posts">
    {{ range $pinned.ByDate.Reverse }}
    <li>
      <span>
        <i title="Pinned">★</i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ if and $pinned $regular }}
  <hr style="margin: 1.5rem 0; border: none; border-top: 1px solid var(--text-color); opacity: 0.2;">
  {{ end }}
  <ul class="blog-posts">
    {{ range $regular.ByDate.Reverse }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    {{ if and (not $pinned) (not $regular) }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
</content>
{{ end }}
