<style>
  .twocol-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .twocol-left {
    width: 60%;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 1rem;
  }

  .twocol-right {
    width: 40%;
    text-align: right;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 0rem;
  }

  @media (max-width: 640px) {
    .twocol-container {
      flex-direction: column;
    }

    .twocol-left,
    .twocol-right {
      width: 100%;
      text-align: left;
      vertical-align: top;
      padding-right: 0rem;
    }

    .twocol-container img {
      width: 60% !important;
      height: auto;
      display: block;
    }
  }
</style>

{{ $parts := split (string .Inner) "<!--right-->" }}

<div class="twocol-container">
  <div class="twocol-left">
    {{ index $parts 0 | markdownify }}
  </div>
  <div class="twocol-right">
    {{ index $parts 1 | markdownify }}
  </div>
</div>
